* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-size: 22px;
    @extend %Roboto-r;
    color: rgb(50, 50, 50);
    line-height: 1.909;
    text-align: left; 
    @media screen and (max-width: $extra) {
        line-height: 1.6;
        font-size: 18px;
    }
    @media screen and (max-width: $small) {
        font-size: 14px;
    }       
}
a, input, button {
    &:hover {
        transition: all .5s ease-in-out;
    }
}
h1, h2, h3, h4 {
    line-height: 1.2;   
    @extend %Roboto-m;
    @media screen and (max-width: $small) {
        display: block;
        width: 100%;
    } 
}
h1 {
    font-size: 56px;
    @media screen and (max-width: $extra) {
        font-size: 52px;
    }
    @media screen and (max-width: $small) {
        font-size: 32px;
    } 
}
h2 {
    font-size: 48px;
    @media screen and (max-width: $extra) {
        font-size: 42px;
    }
    @media screen and (max-width: $small) {
        font-size: 28px;
    } 
}
h3 {
    font-size: 36px;
    @media screen and (max-width: $extra) {
        font-size: 32px;
    }
    @media screen and (max-width: $small) {
        font-size: 22px;
    } 
}
h4 {
    font-size: 30px;
    @media screen and (max-width: $extra) {
        font-size: 28px;
    }
    @media screen and (max-width: $small) {
        font-size: 18px;
    } 
}
b {
   @extend %Roboto-m; 
}
.container {
    width: 1200px;
    max-width: 100%;
    padding: 0 25px;
    margin: 0 auto;
    @media screen and (max-width: $extra) {
        
    }
    @media screen and (max-width: $large) {
        width: 991px;
    }
    @media screen and (max-width: $medium) {
        width: 767px;
    }
    @media screen and (max-width: $small) {
        width: 100%;
    }
}
.big-container {
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
    background-color: $dark-gray;
    position: relative;
    z-index: 2;
    @media screen and (max-width: $extra) {
        width: 100%;
    }
}

section {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    @media screen and (max-width: $small) {
        height: auto;
    } 
}
.blue-section {
    background-color: $purple;
    color: rgb(255, 255, 255);
}
.gray-section {
    background-color: $gray-baground;
}
.white-section {
    background-color: $white-background;
}

// lists
ul {
    padding-top: 55px;
    li {
        font-size: 22px;
        @extend %MyriadPro-r;
        color: rgb(106, 106, 106);
        line-height: 2.182;
        text-align: left;
        list-style: none;
        position: relative;
        padding-left: 40px;
        @media screen and (max-width: $small) {
            font-size: 16px;
            line-height: 1.5;
            padding-left: 30px;
        }
        &:before {
            content: '';
            display: block;
            background-color: rgb(255, 177, 27);
            position: absolute;
            top: 18px;
            left: 0;
            height: 12px;
            width: 12px;  
            border-radius: 50%;
            @media screen and (max-width: $small) {
                top: 4.5px;
            }
        }
    }
}
ol {
    counter-reset: numberItem;
    li {        
        list-style: none;
        font-size: 22px;
        @extend %MyriadPro-r;
        color: rgb(255, 255, 255);
        line-height: 1.636;
        text-align: left;  
        padding-left: 85px;  
        position: relative;  
        min-height: 50px;
        margin-bottom: 40px;
        @media screen and (max-width: $extra) {
            margin-bottom: 30px;
        }
        @media screen and (max-width: $small) {
            font-size: 14px;
            line-height: 1.5;
        }
        &:before {
            content: counter(numberItem);
            counter-increment: numberItem;
            font-size: 24px;
            line-height: 50px;
            @extend %Roboto-r;
            color: rgb(255, 177, 27);
            border: 2px solid rgb(255, 177, 27);
            border-radius: 50%;
            text-align: center;
            height: 50px;
            width: 50px;
            position: absolute;
            display: block;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            @media screen and (max-width: $small) {
                font-size: 14px;
                line-height: 28px;
                height: 28px;
                width: 28px;
            }
        }           
    }
}
// social block
.social {
    width: 115px;
    @include flex(row, space-between, center);
    padding: 0;    
    li {
        width: 20px;
        height: 20px;
        font-size: 0;
        color: #6a6a6a;
        line-height: 1;
        text-align: left;
        list-style: none;
        position: relative;
        padding-left: 0;
        &:before {
            display: none;
        }
        a {
            display: inline-block;
        }
    }
}

.to-top {
    position: relative;
    display: inline-block;
    font-size: 20px;
    @extend %MyriadPro-r;
    line-height: 1.2;
    text-align: left;      
    padding-left: 70px;
    text-decoration: none;
    height: 180px;
    @include flex(row, flex-start, center);
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}
input {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(202, 204, 242);
    border-radius: 5px;
    height: 36px;
    font-size: 12px;
    color: rgb(202, 204, 241);
    line-height: 1.2;
    text-align: left;
    background-color: transparent;
    padding: 0 9px;
    outline: none;
      
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: rgb(202, 204, 241);
    }
    &::-moz-placeholder { /* Firefox 19+ */
        color: rgb(202, 204, 241);
    }
    &:-ms-input-placeholder { /* IE 10+ */
        color: rgb(202, 204, 241);
    }
    &:-moz-placeholder { /* Firefox 18- */
        color: rgb(202, 204, 241);
    }   
}
input[type=submit], input[type=button] {
    border-radius: 5px;
    height: 36px;  
    border: 0;
    background-color: #5136dd;
    font-size: 12px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;     
    width: 120px; 
    cursor: pointer;
    &:hover {
        background-color: rgba(81, 54, 221, .8);
    }      
}
