@font-face {
	font-family: "BodoniMT";
    src: url("../fonts/BodoniMTBold/BodoniMTBold.eot?") format("eot"),
         url("../fonts/BodoniMTBold/BodoniMTBold.otf") format("opentype"),
		 url("../fonts/BodoniMTBold/BodoniMTBold.woff") format("woff"),
		 url("../fonts/BodoniMTBold/BodoniMTBold.woff2") format("woff"),
         url("../fonts/BodoniMTBold/BodoniMTBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
@font-face {
	font-family: "Roboto";
    src: url("../fonts/Roboto-Medium/Roboto-Medium.eot?") format("eot"),
         url("../fonts/Roboto-Medium/Roboto-Medium.otf") format("opentype"),
		 url("../fonts/Roboto-Medium/Roboto-Medium.woff") format("woff"),
		 url("../fonts/Roboto-Medium/Roboto-Medium.woff2") format("woff"),
         url("../fonts/Roboto-Medium/Roboto-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}
@font-face {
	font-family: "Roboto";
    src: url("../fonts/Roboto-Regular/Roboto-Regular.eot?") format("eot"),
         url("../fonts/Roboto-Regular/Roboto-Regular.otf") format("opentype"),
		 url("../fonts/Roboto-Regular/Roboto-Regular.woff") format("woff"),
		 url("../fonts/Roboto-Regular/Roboto-Regular.woff2") format("woff"),
         url("../fonts/Roboto-Regular/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
	font-family: "Roboto";
    src: url("../fonts/Roboto-Italic/Roboto-Italic.eot?") format("eot"),
         url("../fonts/Roboto-Italic/Roboto-Italic.otf") format("opentype"),
		 url("../fonts/Roboto-Italic/Roboto-Italic.woff") format("woff"),
		 url("../fonts/Roboto-Italic/Roboto-Italic.woff2") format("woff"),
         url("../fonts/Roboto-Italic/Roboto-Italic.ttf") format("truetype");
    font-style: italic;
    font-weight: 400;
}
@font-face {
	font-family: "MyriadPro";
    src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot?") format("eot"),
         url("../fonts/MyriadPro-Regular/MyriadPro-Regular.otf") format("opentype"),
		 url("../fonts/MyriadPro-Regular/MyriadPro-Regular.woff") format("woff"),
		 url("../fonts/MyriadPro-Regular/MyriadPro-Regular.woff2") format("woff"),
         url("../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}