// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$android-name: 'android';
$android-x: 0px;
$android-y: 96px;
$android-offset-x: 0px;
$android-offset-y: -96px;
$android-width: 49px;
$android-height: 57px;
$android-total-width: 245px;
$android-total-height: 204px;
$android-image: '../img/sprite.png';
$android: (0px, 96px, 0px, -96px, 49px, 57px, 245px, 204px, '../img/sprite.png', 'android', );
$apple-name: 'apple';
$apple-x: 0px;
$apple-y: 153px;
$apple-offset-x: 0px;
$apple-offset-y: -153px;
$apple-width: 43px;
$apple-height: 51px;
$apple-total-width: 245px;
$apple-total-height: 204px;
$apple-image: '../img/sprite.png';
$apple: (0px, 153px, 0px, -153px, 43px, 51px, 245px, 204px, '../img/sprite.png', 'apple', );
$arrow-to-up-white-name: 'arrow-to-up-white';
$arrow-to-up-white-x: 49px;
$arrow-to-up-white-y: 96px;
$arrow-to-up-white-offset-x: -49px;
$arrow-to-up-white-offset-y: -96px;
$arrow-to-up-white-width: 47px;
$arrow-to-up-white-height: 47px;
$arrow-to-up-white-total-width: 245px;
$arrow-to-up-white-total-height: 204px;
$arrow-to-up-white-image: '../img/sprite.png';
$arrow-to-up-white: (49px, 96px, -49px, -96px, 47px, 47px, 245px, 204px, '../img/sprite.png', 'arrow-to-up-white', );
$arrow-to-up-name: 'arrow-to-up';
$arrow-to-up-x: 96px;
$arrow-to-up-y: 96px;
$arrow-to-up-offset-x: -96px;
$arrow-to-up-offset-y: -96px;
$arrow-to-up-width: 47px;
$arrow-to-up-height: 47px;
$arrow-to-up-total-width: 245px;
$arrow-to-up-total-height: 204px;
$arrow-to-up-image: '../img/sprite.png';
$arrow-to-up: (96px, 96px, -96px, -96px, 47px, 47px, 245px, 204px, '../img/sprite.png', 'arrow-to-up', );
$bracket-left-name: 'bracket-left';
$bracket-left-x: 123px;
$bracket-left-y: 0px;
$bracket-left-offset-x: -123px;
$bracket-left-offset-y: 0px;
$bracket-left-width: 122px;
$bracket-left-height: 96px;
$bracket-left-total-width: 245px;
$bracket-left-total-height: 204px;
$bracket-left-image: '../img/sprite.png';
$bracket-left: (123px, 0px, -123px, 0px, 122px, 96px, 245px, 204px, '../img/sprite.png', 'bracket-left', );
$bracket-right-name: 'bracket-right';
$bracket-right-x: 0px;
$bracket-right-y: 0px;
$bracket-right-offset-x: 0px;
$bracket-right-offset-y: 0px;
$bracket-right-width: 123px;
$bracket-right-height: 96px;
$bracket-right-total-width: 245px;
$bracket-right-total-height: 204px;
$bracket-right-image: '../img/sprite.png';
$bracket-right: (0px, 0px, 0px, 0px, 123px, 96px, 245px, 204px, '../img/sprite.png', 'bracket-right', );
$f-footer-name: 'f-footer';
$f-footer-x: 211px;
$f-footer-y: 119px;
$f-footer-offset-x: -211px;
$f-footer-offset-y: -119px;
$f-footer-width: 20px;
$f-footer-height: 20px;
$f-footer-total-width: 245px;
$f-footer-total-height: 204px;
$f-footer-image: '../img/sprite.png';
$f-footer: (211px, 119px, -211px, -119px, 20px, 20px, 245px, 204px, '../img/sprite.png', 'f-footer', );
$f-name: 'f';
$f-x: 211px;
$f-y: 96px;
$f-offset-x: -211px;
$f-offset-y: -96px;
$f-width: 23px;
$f-height: 23px;
$f-total-width: 245px;
$f-total-height: 204px;
$f-image: '../img/sprite.png';
$f: (211px, 96px, -211px, -96px, 23px, 23px, 245px, 204px, '../img/sprite.png', 'f', );
$in-footer-name: 'in-footer';
$in-footer-x: 43px;
$in-footer-y: 153px;
$in-footer-offset-x: -43px;
$in-footer-offset-y: -153px;
$in-footer-width: 20px;
$in-footer-height: 20px;
$in-footer-total-width: 245px;
$in-footer-total-height: 204px;
$in-footer-image: '../img/sprite.png';
$in-footer: (43px, 153px, -43px, -153px, 20px, 20px, 245px, 204px, '../img/sprite.png', 'in-footer', );
$in-name: 'in';
$in-x: 188px;
$in-y: 96px;
$in-offset-x: -188px;
$in-offset-y: -96px;
$in-width: 23px;
$in-height: 23px;
$in-total-width: 245px;
$in-total-height: 204px;
$in-image: '../img/sprite.png';
$in: (188px, 96px, -188px, -96px, 23px, 23px, 245px, 204px, '../img/sprite.png', 'in', );
$menu-icon-name: 'menu-icon';
$menu-icon-x: 49px;
$menu-icon-y: 143px;
$menu-icon-offset-x: -49px;
$menu-icon-offset-y: -143px;
$menu-icon-width: 16px;
$menu-icon-height: 10px;
$menu-icon-total-width: 245px;
$menu-icon-total-height: 204px;
$menu-icon-image: '../img/sprite.png';
$menu-icon: (49px, 143px, -49px, -143px, 16px, 10px, 245px, 204px, '../img/sprite.png', 'menu-icon', );
$search-icon-name: 'search-icon';
$search-icon-x: 63px;
$search-icon-y: 153px;
$search-icon-offset-x: -63px;
$search-icon-offset-y: -153px;
$search-icon-width: 20px;
$search-icon-height: 20px;
$search-icon-total-width: 245px;
$search-icon-total-height: 204px;
$search-icon-image: '../img/sprite.png';
$search-icon: (63px, 153px, -63px, -153px, 20px, 20px, 245px, 204px, '../img/sprite.png', 'search-icon', );
$tw-footer-name: 'tw-footer';
$tw-footer-x: 83px;
$tw-footer-y: 153px;
$tw-footer-offset-x: -83px;
$tw-footer-offset-y: -153px;
$tw-footer-width: 20px;
$tw-footer-height: 19px;
$tw-footer-total-width: 245px;
$tw-footer-total-height: 204px;
$tw-footer-image: '../img/sprite.png';
$tw-footer: (83px, 153px, -83px, -153px, 20px, 19px, 245px, 204px, '../img/sprite.png', 'tw-footer', );
$tw-name: 'tw';
$tw-x: 188px;
$tw-y: 119px;
$tw-offset-x: -188px;
$tw-offset-y: -119px;
$tw-width: 23px;
$tw-height: 22px;
$tw-total-width: 245px;
$tw-total-height: 204px;
$tw-image: '../img/sprite.png';
$tw: (188px, 119px, -188px, -119px, 23px, 22px, 245px, 204px, '../img/sprite.png', 'tw', );
$user-name: 'user';
$user-x: 143px;
$user-y: 96px;
$user-offset-x: -143px;
$user-offset-y: -96px;
$user-width: 45px;
$user-height: 45px;
$user-total-width: 245px;
$user-total-height: 204px;
$user-image: '../img/sprite.png';
$user: (143px, 96px, -143px, -96px, 45px, 45px, 245px, 204px, '../img/sprite.png', 'user', );
$spritesheet-width: 245px;
$spritesheet-height: 204px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($android, $apple, $arrow-to-up-white, $arrow-to-up, $bracket-left, $bracket-right, $f-footer, $f, $in-footer, $in, $menu-icon, $search-icon, $tw-footer, $tw, $user, );
$spritesheet: (245px, 204px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
