$dark-gray: #e0e8ed;
$gray-baground: #edeef1;
$white-background: #f2f3f6;
$purple: #000064;
// @include sprite($conversation);

// responsive
$extra: 1400px;
$large: 1200px;
$medium: 992px;
$small: 768px;

// mixins
@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}


// @extend %Helvetica;
// fonts
%Roboto-r {
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
%Roboto-i {
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}
%Roboto-m {
    font-family: "roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
%Bodoni-b {
    font-family: "BodoniMT", sans-serif;
    font-weight: 700;
    font-style: normal;
}
%MyriadPro-r {
    font-family: "MyriadPro", sans-serif;
    font-weight: 400;
    font-style: normal;
}
