<header class="header" id="header">
    <a href="/" class="header-logo">
        <img src="img/logo.png" alt="">
    </a>
    <div class="container">
        <nav class="menu">
            <button class="menu-toggle"></button>
            <div class="menu-list">
                <a href="">About us</a>
                <a href="">Business Strategy & Operations</a>
                <a href="">Digital Transformation & IT Value Chain</a>
                <a href="">Foreign Company Representation</a>
                <a href="">Contact us</a>
                <a href="" class="menu-search"></a>
            </div>
        </nav>
    </div>
    <ul class="social">
        <li class="facebook">
            <a href=""></a>
        </li>
        <li class="tw">
            <a href=""></a>
        </li>
        <li class="in">
            <a href=""></a>
        </li>
    </ul>
</header>