.breadcrumbs {
    padding: 15px 0;
    line-height: 1;
    padding-top: 0;
    margin-bottom: 35px;
    @media screen and (max-width: $small) {
        margin: 15px 0;
    }
    li {
        display: inline-block;
        padding: 0;       
        font-size: 12px;
        color: rgba(255, 255, 255, 0.451);
        line-height: 1.2;
        text-align: left;          
        &:before {
            display: none;
        }
        &:not(:last-child) {
            &:after {
                content: ' / ';
            }
        }
        a {
            font-size: inherit;
            color: inherit;
            line-height: inherit;
            text-decoration: none; 
        }
    }
}