.business {
    background-image: url(../img/section8.png);
    padding: 180px 0;
    @media screen and (max-width: $extra) {
        padding-top: 80px;
    }
    h3 {
        text-align: center;
        position: relative;  
        max-width: 800px;
        margin: 0 auto;
        margin-bottom: 65px;        
        &:after {
            content: '';
            background-color: rgb(255, 177, 27);
            position: absolute;
            display: block;
            left: 50%;
            transform: translateX(-50%);
            bottom: -55px;
            width: 105px;
            height: 7px;              
        }
    }
    .to-top {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        color: rgb(254, 254, 254);
        &:before {
            @include sprite($arrow-to-up-white);
        }
    }
}