.footer {
    padding-top: 220px;
    background-color: #2b2e77;
    color: #fff;
    @media screen and (max-width: $small) {
        padding-top: 30px;
    }
    .container {
        @include flex(row, space-between, flex-start);
        @media screen and (max-width: $small) {
           @include flex(column, flex-start, flex-start);
        }
    }
    .col {
        width: 50%;
        max-width: 450px;
        @media screen and (max-width: $small) {
            width: 100%;
            max-width: 100%;
            margin-top: 20px;
        }
    }
    &-bottom {
        padding-top: 70px;
        padding-bottom: 30px;
    }
    .sitemap {
        font-size: 14px;
        line-height: 1.2;
        text-align: left;              
        &-title {
            @extend %Roboto-m;
            color: rgb(255, 255, 255);
            text-transform: uppercase;
            margin-bottom: 20px;
            display: block;
        }
        a {
            @extend %Roboto-r;
            color: rgb(202, 204, 242);
            margin-bottom: 10px;
            display: block;
            text-decoration: none;
            &:hover {
                color: rgba(202, 204, 242, .8); 
            }
        }
    }
    .discussion-title {
        font-size: 14px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        line-height: 1.2;
        text-align: left;
    }
    .discussion {
        padding: 10px 0;
        @include flex(row, space-between, center);
        input[type=email] {
            width: calc(100% - 130px);
        }
    }
    .social {   
        margin-top: 15px;
        li {
            &.facebook {
                a {
                    @include sprite($f-footer);
                }
            }
            &.tw {
                a {
                    @include sprite($tw-footer);
                }
            }
            &.in {
                a {
                    @include sprite($in-footer);
                }
            }
        }
    }
    .copyright {
        font-size: 14px;
        color: rgb(202, 204, 242);
        line-height: 1.2;
        text-align: right;          
    }
}