.guaranteed {
    z-index: 2;
    overflow: visible;
    @include flex(row, center, flex-end);
    @media screen and (max-width: $small) {
        display: block;
    }
    .big-container {
        padding: 145px 25px 75px 25px;
        bottom: -50px;
        @media screen and (max-width: $small) {
            bottom: 0px;
            padding: 30px 25px 30px 25px;
        }
    }
    .guaranteed-logo {
        position: absolute;
        top: -300px;
        left: 50%;
        transform: translateX(-50%);
        width: 422px;
        height: 378px;   
        background-color: rgb(255, 255, 255);
        background-image: url(../img/logo-in-block.png);
        background-position: center center;
        background-size: auto;
        background-repeat: no-repeat;
        box-shadow: 0px 50px 70px -40px rgba(83, 119, 141, 0.5);  
        z-index: 2;
        margin-bottom: 35px;
        @media screen and (max-width: $extra) {
            top: -200px;
            width: 322px;
            height: 278px;
            box-shadow: 0px 40px 60px -30px rgba(83, 119, 141, 0.5);
        }
        @media screen and (max-width: $small) {
            position: relative;
            width: 100%;
            height: 0;
            padding-top: 100%;
            top: 0px;
        }
    }
    .content {
        text-align: center;
        width: 100%;
        max-width: 820px;
        margin: 0 auto;
        line-height: 1.636;         
        .description {
            font-size: 30px;
            @extend %Bodoni-b;
            line-height: 1.2;
            text-align: center;
            display: inline-block;
            margin: 0 auto;
            margin-top: 100px;
            padding: 0 60px;
            position: relative;
            @media screen and (max-width: $small) {
                margin-top: 50px;
                font-size: 18px;
            }
            &:before, &:after {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                height: 70px;
                width: 58px;
                background-position: center center;
                background-size: 100% 100%;
                background-repeat: no-repeat;
            }
            &:before {
                left: 0;
                background-image: url(../img/laurel-left.png);
            }
            &:after {
                right: 0;
                background-image: url(../img/laurel-right.png);
            }
        }
    }
}