.use-case {
    background-image: url(../img/section9.png);
    padding: 150px 0 100px 0;
    text-align: center;
    @media screen and (max-width: $extra) {
        padding: 30px 0;
        @include flex(row, center, center);
    }
    .container {
        max-width: 1050px;
    }
    h4 {
        line-height: 1.733;
        text-align: center;
        position: relative;
        @extend %Roboto-r;
        &:first-child {
            text-transform: uppercase;
            margin-bottom: 80px;
            &:after {
                content: '';
                display: block;
                position: absolute;
                bottom: -42px;
                left: 50%;
                transform: translateX(-50%);
                background-color: rgb(81, 54, 221);
                width: 105px;
                height: 7px;                  
            }
        }
        &:nth-child(2) {
            margin-bottom: 55px;
        }
      }
      
}
// ---
.rewiew {
    background-image: url(../img/section10.png);
    @include flex(row, center, center);
    color: rgb(255, 255, 255);
    @extend %Roboto-i;
    text-align: center;
    @media screen and (max-width: $small) {
        padding: 30px 0;
    }
    .container {
        max-width: 1050px;
    }
    &-text {
        margin-bottom: 80px;
        font-size: 28px;
        line-height: 1.857;  
        @media screen and (max-width: $small) {
            font-size: 16px;
        }        
    }
    &-name {
        font-size: 18px;
        color: rgb(194, 201, 230);
        line-height: 1.667; 
        display: block;
        padding-top: 50px;
        position: relative;
        @media screen and (max-width: $small) {
            font-size: 14px;
        }
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            @include sprite($user);
        }         
    }
}