.main-section {
    background-image: url(../img/section1.png);
    @media screen and (max-width: $small) {
        padding-bottom: 30px;
        overflow: visible;
    }    
    .content {
        max-width: 950px;
        width: 100%;
        color: rgb(255, 255, 255);
        h2 {
            margin-bottom: 50px;
        }
    }
}

.header {
    width: 100%;
    padding: 35px 210px;
    @media screen and (max-width: $extra) {
        @include flex(row, space-between, center);
        width: 1200px;
        max-width: 100%;
        padding: 35px 25px;
        margin: 0 auto;
    }
    @media screen and (max-width: $large) {
        width: 991px;
    }
    @media screen and (max-width: $medium) {
        width: 767px;
    }
    @media screen and (max-width: $small) {
        width: 100%;
        padding: 15px 25px;
    }
    position: relative;
    &-logo {
        font-size: 0;
        position: absolute;
        left: 60px;
        top: 50%;
        transform: translateY(-50%);
        @media screen and (max-width: $extra)  {
            position: static;
            transform: translateY(0);            
        }
    }
    & > .container {
        @media screen and (max-width: $extra)  {
            width: auto;
            margin: 0;            
        }
    }
    .social {    
        position: absolute;
        right: 60px;
        top: 50%;     
        transform: translateY(-50%);
        @media screen and (max-width: $extra)  {
            position: static;
            transform: translateY(0);            
        }
        @media screen and (max-width: $small) {
            display: none;    
        }
        li {
            &.facebook {
                a {
                    @include sprite($f);
                }
            }
            &.tw {
                a {
                    @include sprite($tw);
                }
            }
            &.in {
                a {
                    @include sprite($in);
                }
            }
        }
    }
}
// navigation
.menu {
    text-align: left;
    &-toggle {
        display: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 25px;
        @include sprite($menu-icon);
        background-color: transparent;
        border: 0;
        outline: none;
        @media screen and (max-width: $small) {
            display: block;
        }
    }
    &-list {
        @include flex(row, flex-start, center);
        @media screen and (max-width: $small) {
            @include flex(column, flex-start, flex-start);
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background-color: #161b61;
            padding: 15px 25px;
            display: none;
            z-index: 2;
            &.toggle {
                display: flex;                
            }
        }
        a {
            font-size: 14px;            
            color: rgb(255, 255, 255);           
            line-height: 1.2;
            text-align: left;  
            margin-right: 30px;
            text-decoration: none;
            @media screen and (max-width: $extra) {
                margin-right: 15px;
            }
            @media screen and (max-width: $small) {
                margin-bottom: 10px;
            }
            &:hover {
                color: rgba(255, 255, 255, .8); 
            }
            &.menu-search {
                display: inline-block;
                width: 20px;
                height: 20px;
                @include sprite($search-icon);
                font-size: 0;
                @media screen and (max-width: $small) {
                    font-size: inherit;
                }
            }
        }
    }
}
