.mobile-app {
    background-image: url(../img/section3.png);
    position: relative;
    @media screen and (max-width: $extra) {
        background-size: auto auto;
        background-position: center center;
    }
    @media screen and (max-width: $small) {
        background-image: none;
        padding: 30px 0;
    }
    h2 {
        color: rgb(50, 50, 50);
        line-height: 1.25;
        text-align: center;
        margin-bottom: 140px;
        position: relative;
        &:after {
            content: '';
            background-color: rgb(255, 177, 27);
            position: absolute;
            width: 105px;
            height: 7px;     
            bottom: -50px;
            left: calc(50% - 52.5px);         
        }
    }
    .links {
        position: absolute;
        top: calc(50% - 100px);
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        width: 265px;
        height: 120px;
        @include flex(row, space-between, center);
        @media screen and (max-width: $small) {
            position: static;
            transform: translate3d(0, 0, 0);
            margin: 0 auto;
        }
        a {
            display: inline-block;
            width: 120px;
            height: 120px;
            background-image: url(../img/appRectangle.png);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            position: relative;
            i {
                position: absolute;
                display: block;
                top: 50%;
                left: 50%;
                transform: translate3d(-50%, -50%, 0);
            }
            &.apple {
                i {
                    @include sprite($apple);
                }
            }
            &.android {
                i {
                    @include sprite($android);
                }
            }
        }
    }
}

// ---
.big-list {
    z-index: 2;
    overflow: visible;
    .big-container {
        position: relative;
        height: calc(100% + 180px);
        top: -90px;
        padding: 0;
        overflow: hidden;
        @media screen and (max-width: $small) {
            top: 0;
            height: 100%;
        }
        .container {
            height: 100%;
            padding: 170px 25px 180px 25px;
            position: relative;
            @include flex(row, center, flex-start);
            @media screen and (max-width: $extra) {
                padding-top: 70px;
            }
            @media screen and (max-width: $small) {
                @include flex(column, flex-start, flex-start);
            }
            .img {
                width: 33.3333%;
                @media screen and (max-width: $small) {
                    width: 100%;
                }
                img {
                    max-width: 100%;
                }
            }
            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: stretch;
                padding-left: 95px;
                padding-top: 0;
                width: 66.6666%;
                margin: 0;
                @media screen and (max-width: $small) {
                    width: 100%;
                    padding-left: 0px;
                }
                li {
                    width: 40%;
                    padding: 0;
                    padding-top: 40px;
                    padding-bottom: 30px;
                    font-size: 24px;
                    color: rgb(60, 60, 60);
                    line-height: 1.5;
                    text-align: left; 
                    @media screen and (max-width: $extra) {
                        font-size: 22px;
                    }
                    @media screen and (max-width: $small) {
                        width: 100%;
                        font-size: 16px;
                        padding-top: 20px;
                        padding-bottom: 15px;
                    }                     

                    &:before {
                        content: '';
                        background-color: rgb(255, 177, 27);
                        position: absolute;
                        width: 30px;
                        height: 4px;      
                        left: 0;
                        top: 0;        
                        border-radius: 0;            
                    }
                }
            }
            .to-top {
                position: absolute;
                width: 100%;
                left: 33.3333%;
                bottom: 0;                
                background-color: #c5d3dc;
                color: rgb(60, 60, 60);
                padding-left: 190px;
                @media screen and (max-width: $small) {
                    left: 0;
                    padding-left: 95px;
                    padding-right: 25px;
                }
                &:before {
                    @include sprite($arrow-to-up);
                    left: 95px;
                    @media screen and (max-width: $small) {
                        left: 25px;
                    }
                }
            }
        }
    }
}
// ---
.laptop-section {
    background-image: url(../img/section5.png);
    padding: 190px 0 100px 0;
    @media screen and (max-width: $small) {
        background-image: none;
        padding: 30px 0 30px 0;
    }
    .container {

        .col1 {
            max-width: 600px;
            @media screen and (max-width: $small) {
                width: 100%;
                max-width: 100%;
            }
        }
    }
}