.product-development {
    background-image: url(../img/section2.png);
    @media screen and (max-width: $small) {
        background-image: none;
        padding: 30px 0;
    }    
    @include flex(row, flex-start, center);
    .container {
        .col {
            width: 60%;
            @media screen and (max-width: $small) {
                width: 100%;
                max-width: 100%;
            }
        }
    }
    h4 {
        color: rgb(106, 106, 106);
        text-align: left;
        margin-bottom: 40px;
        max-width: 500px;
    }
    h2 {
        max-width: 400px;
        color: rgb(50, 50, 50);
        text-align: left;
        margin-bottom: 60px;
        position: relative;
        &:after {
            content: '';
            background-color: rgb(81, 54, 221);
            position: absolute;
            width: 105px;
            height: 7px;
            bottom: -60px;
            left: 0;
        }
    }
}