.why-we {
    background-size: 100% auto;
    background-color: $purple;
    background-image: url(../img/section6.png);
    background-position: top center;
    background-repeat: no-repeat;
    height: auto;
    color: #fff;
    section:first-child {
        padding-top: 220px;
        @media screen and (max-width: $extra) {
            padding-top: 100px;
        }
    }
    section:nth-child(2) {
        .container {
            @include flex(row, space-between, flex-start);
            max-height: 100%;
            @media screen and (max-width: $small) {
                @include flex(column, flex-start, flex-start);
            }
        }
    }
    section {
        @include flex(row, space-between, center);
    }
    .col {
        width: 100%;
        max-width: 760px;
        @media screen and (max-width: $small) {
            max-width: 100%;
        }
    }
    .col2 {
        width: calc(50% - 30px);
        @media screen and (max-width: $small) {
            width: 100%;
            max-width: 100%;
            margin-top: 30px;
        }
        &:nth-child(2) {
            text-align: right;
        }
        img {
            max-width: 100%;
        }
    }
    h2 {
        color: rgb(254, 254, 254);
        line-height: 1.25;
        text-align: left;          
        margin-bottom: 100px;
        position: relative;
        &:after {
            content: '';
            display: block;
            background-color: rgb(255, 177, 27);
            position: absolute;
            left: 0;
            bottom: -55px;
            width: 105px;  
            height: 7px;         
        }
    }
    h3 {
        margin-bottom: 60px;
    }

}